body {
    background-color: rgb(150, 187, 199);
}

h1 {
    text-align: center;
}

h2  {
    text-align: center;
}

.button {
    text-align: center;
}

.result {
    text-align: center;
}

#preview {
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
}